@font-face {
  font-family: 'Animal Crossing';
  src: url('./FOT-RodinBokutoh\ Pro\ EB.otf');
}

@font-face {
  font-family: 'Animal Crossing Menu';
  src: url('./FOT-Seurat\ Pro\ B.otf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2c2834;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes morph {
  0% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  25% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  50% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  75% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.Version-button {
  border: none;
  background-color: rgba(255, 238, 160);
  color: rgba(137, 117, 54);
  font-family: 'Animal Crossing Menu';
  border-radius: 20px;
}

.Version-button:hover{
  background-color: rgb(255, 220, 42);
}

.Version-button:active{
  background-color: rgb(203, 151, 18);
}